In [1]:
import pandas as pd
import numpy as np

In [2]:
info={'SN1':'ABIA','SN2':'ADAMAWA','SN3':'AKWA-IBOM','SN4':'ANAMBRA','SN5':'BAUCHI','SN6':'BAYELSA','SN7':'BENUE','SN8':'BORNO','SN9':'CROSS-RIVER','SN10':'DELTA','SN11':'EBONYI','SN12':'EDO','SN13':'EKITI','SN14':'ENUGU','SN15':'GOMBE','SN16':'IMO','SN17':'JIGAWA','SN18':'KADUNA','SN19':'KANO','SN20':'KATSINA','SN21':'KEBBI','SN22':'KOGI','SN23':'KWARA','SN24':'LAGOS','SN25':'NASSARAWA','SN26':'NIGER','SN27':'OGUN','SN28':'ONDO','SN29':'OSUN','SN30':'OYO','SN31':'PLATEAU','SN32':'RIVERS','SN33':'SOKOTO','SN34':'TARABA','SN35':'YOBE','SN36':'ZAMFARA','SN37':'FCT'}

In [3]:
STATES=pd.Series(info)
STATES

SN1            ABIA
SN2         ADAMAWA
SN3       AKWA-IBOM
SN4         ANAMBRA
SN5          BAUCHI
SN6         BAYELSA
SN7           BENUE
SN8           BORNO
SN9     CROSS-RIVER
SN10          DELTA
SN11         EBONYI
SN12            EDO
SN13          EKITI
SN14          ENUGU
SN15          GOMBE
SN16            IMO
SN17         JIGAWA
SN18         KADUNA
SN19           KANO
SN20        KATSINA
SN21          KEBBI
SN22           KOGI
SN23          KWARA
SN24          LAGOS
SN25      NASSARAWA
SN26          NIGER
SN27           OGUN
SN28           ONDO
SN29           OSUN
SN30            OYO
SN31        PLATEAU
SN32         RIVERS
SN33         SOKOTO
SN34         TARABA
SN35           YOBE
SN36        ZAMFARA
SN37            FCT
dtype: object

In [4]:
inf={'CN1':'UMUAHIA','CN2':'YOLA','CN3':'UYO','CN4':'AWKA','CN5':'BAUCHI','CN6':'YENAGOA','CN7':'MAKURDI','CN8':'MAIDUGURI','CN9':'CALABAR','CN10':'ASABA','CN11':'ABAKALIKI','CN12':'BENIN','CN13':'ADO-EKITI','CN14':'ENUGU','CN15':'GOMBE','CN16':'OWERRI','CN17':'DUTSE','CN18':'KADUNA','CN19':'KANO','CN20':'KATSINA','CN21':'BIRNIN-KEBBI','CN22':'LOKOJA','CN23':'ILORIN','CN24':'IKEJA','CN25':'LAFIA','CN26':'MINNA','CN27':'ABEOKUTA','CN28':'AKURE','CN29':'OSOGBO','CN30':'IBADAN','CN31':'JOS','CN32':'POT-HARCOURT','CN33':'SOKOTO','CN34':'JALINGO','CN35':'DAMATURU','CN36':'GUSAU','CN37':'ABUJA'}

In [5]:
CAPITALS=pd.Series(inf)
CAPITALS

CN1          UMUAHIA
CN2             YOLA
CN3              UYO
CN4             AWKA
CN5           BAUCHI
CN6          YENAGOA
CN7          MAKURDI
CN8        MAIDUGURI
CN9          CALABAR
CN10           ASABA
CN11       ABAKALIKI
CN12           BENIN
CN13       ADO-EKITI
CN14           ENUGU
CN15           GOMBE
CN16          OWERRI
CN17           DUTSE
CN18          KADUNA
CN19            KANO
CN20         KATSINA
CN21    BIRNIN-KEBBI
CN22          LOKOJA
CN23          ILORIN
CN24           IKEJA
CN25           LAFIA
CN26           MINNA
CN27        ABEOKUTA
CN28           AKURE
CN29          OSOGBO
CN30          IBADAN
CN31             JOS
CN32    POT-HARCOURT
CN33          SOKOTO
CN34         JALINGO
CN35        DAMATURU
CN36           GUSAU
CN37           ABUJA
dtype: object

In [6]:
ind={'PN1':2833999,'PN2':3168101,'PN3':3920208,'PN4':4182032,'PN5':4676465,'PN6':1703358,'PN7':4219244,'PN8':4151193,'PN9':2888966,'PN10':4098391,'PN11':2173501,'PN12':3218332,'PN13':2384212,'PN14':3257298,'PN15':2353879,'PN16':3934899,'PN17':4348649,'PN18':6066562,'PN19':9383682,'PN20':5792578,'PN21':3238628,'PN22':3278487,'PN23':2371089,'PN24':9013534,'PN25':1863275,'PN26':3950249,'PN27':3728098,'PN28':3441024,'PN29':3423535,'PN30':5591589,'PN31':3178712,'PN32':5185400,'PN33':3696999,'PN34':2300736,'PN35':2321591,'PN36':3259846,'PN37':1405201}

In [7]:
POPULATION=pd.Series(ind)
POPULATION

PN1     2833999
PN2     3168101
PN3     3920208
PN4     4182032
PN5     4676465
PN6     1703358
PN7     4219244
PN8     4151193
PN9     2888966
PN10    4098391
PN11    2173501
PN12    3218332
PN13    2384212
PN14    3257298
PN15    2353879
PN16    3934899
PN17    4348649
PN18    6066562
PN19    9383682
PN20    5792578
PN21    3238628
PN22    3278487
PN23    2371089
PN24    9013534
PN25    1863275
PN26    3950249
PN27    3728098
PN28    3441024
PN29    3423535
PN30    5591589
PN31    3178712
PN32    5185400
PN33    3696999
PN34    2300736
PN35    2321591
PN36    3259846
PN37    1405201
dtype: int64

In [8]:
index={'DN1':5420,'DN2':36917,'DN3':6187,'DN4':4844,'DN5':64605,'DN6':10773,'DN7':34059,'DN8':71130,'DN9':21050,'DN10':18050,'DN11':5530,'DN12':17450,'DN13':6353,'DN14':12440,'DN15':18768,'DN16':5430,'DN17':22605,'DN18':43460,'DN19':20680,'DN20':26785,'DN21':41855,'DN22':32440,'DN23':37700,'DN24':3345,'DN25':27117,'DN26':13930,'DN27':16762,'DN28':14606,'DN29':10245,'DN30':27460,'DN31':58030,'DN32':11077,'DN33':25973,'DN34':55920,'DN35':45270,'DN36':39762,'DN37':7315}

In [9]:
LANDMASS=pd.Series(index)
LANDMASS

DN1      5420
DN2     36917
DN3      6187
DN4      4844
DN5     64605
DN6     10773
DN7     34059
DN8     71130
DN9     21050
DN10    18050
DN11     5530
DN12    17450
DN13     6353
DN14    12440
DN15    18768
DN16     5430
DN17    22605
DN18    43460
DN19    20680
DN20    26785
DN21    41855
DN22    32440
DN23    37700
DN24     3345
DN25    27117
DN26    13930
DN27    16762
DN28    14606
DN29    10245
DN30    27460
DN31    58030
DN32    11077
DN33    25973
DN34    55920
DN35    45270
DN36    39762
DN37     7315
dtype: int64

In [10]:
#2 Create a pandas Series objectof state population and landmass using state name as the key for both

In [11]:
key=STATES.values
key

array(['ABIA', 'ADAMAWA', 'AKWA-IBOM', 'ANAMBRA', 'BAUCHI', 'BAYELSA',
       'BENUE', 'BORNO', 'CROSS-RIVER', 'DELTA', 'EBONYI', 'EDO', 'EKITI',
       'ENUGU', 'GOMBE', 'IMO', 'JIGAWA', 'KADUNA', 'KANO', 'KATSINA',
       'KEBBI', 'KOGI', 'KWARA', 'LAGOS', 'NASSARAWA', 'NIGER', 'OGUN',
       'ONDO', 'OSUN', 'OYO', 'PLATEAU', 'RIVERS', 'SOKOTO', 'TARABA',
       'YOBE', 'ZAMFARA', 'FCT'], dtype=object)

In [12]:
pop=POPULATION.values
pop

array([2833999, 3168101, 3920208, 4182032, 4676465, 1703358, 4219244,
       4151193, 2888966, 4098391, 2173501, 3218332, 2384212, 3257298,
       2353879, 3934899, 4348649, 6066562, 9383682, 5792578, 3238628,
       3278487, 2371089, 9013534, 1863275, 3950249, 3728098, 3441024,
       3423535, 5591589, 3178712, 5185400, 3696999, 2300736, 2321591,
       3259846, 1405201], dtype=int64)

In [13]:
land=LANDMASS.values
land

array([ 5420, 36917,  6187,  4844, 64605, 10773, 34059, 71130, 21050,
       18050,  5530, 17450,  6353, 12440, 18768,  5430, 22605, 43460,
       20680, 26785, 41855, 32440, 37700,  3345, 27117, 13930, 16762,
       14606, 10245, 27460, 58030, 11077, 25973, 55920, 45270, 39762,
        7315], dtype=int64)

In [30]:
capi=CAPITALS.values
capi

array(['UMUAHIA', 'YOLA', 'UYO', 'AWKA', 'BAUCHI', 'YENAGOA', 'MAKURDI',
       'MAIDUGURI', 'CALABAR', 'ASABA', 'ABAKALIKI', 'BENIN', 'ADO-EKITI',
       'ENUGU', 'GOMBE', 'OWERRI', 'DUTSE', 'KADUNA', 'KANO', 'KATSINA',
       'BIRNIN-KEBBI', 'LOKOJA', 'ILORIN', 'IKEJA', 'LAFIA', 'MINNA',
       'ABEOKUTA', 'AKURE', 'OSOGBO', 'IBADAN', 'JOS', 'POT-HARCOURT',
       'SOKOTO', 'JALINGO', 'DAMATURU', 'GUSAU', 'ABUJA'], dtype=object)

In [14]:
key2=['ABIA', 'ADAMAWA', 'AKWA-IBOM', 'ANAMBRA', 'BAUCHI', 'BAYELSA',
       'BENUE', 'BORNO', 'CROSS-RIVER', 'DELTA', 'EBONYI', 'EDO', 'EKITI',
       'ENUGU', 'GOMBE', 'IMO', 'JIGAWA', 'KADUNA', 'KANO', 'KATSINA',
       'KEBBI', 'KOGI', 'KWARA', 'LAGOS', 'NASSARAWA', 'NIGER', 'OGUN',
       'ONDO', 'OSUN', 'OYO', 'PLATEAU', 'RIVERS', 'SOKOTO', 'TARABA',
       'YOBE', 'ZAMFARA', 'FCT']

In [31]:
pop2=pd.Series([2833999, 3168101, 3920208, 4182032, 4676465, 1703358, 4219244,
       4151193, 2888966, 4098391, 2173501, 3218332, 2384212, 3257298,
       2353879, 3934899, 4348649, 6066562, 9383682, 5792578, 3238628,
       3278487, 2371089, 9013534, 1863275, 3950249, 3728098, 3441024,
       3423535, 5591589, 3178712, 5185400, 3696999, 2300736, 2321591,
       3259846, 1405201], index=)

In [16]:
landmass2=[ 5420, 36917,  6187,  4844, 64605, 10773, 34059, 71130, 21050,
       18050,  5530, 17450,  6353, 12440, 18768,  5430, 22605, 43460,
       20680, 26785, 41855, 32440, 37700,  3345, 27117, 13930, 16762,
       14606, 10245, 27460, 58030, 11077, 25973, 55920, 45270, 39762,
        7315]

In [28]:
information=({'State':key2,'Population':pop2,'Landmass':landmass2})
informate=pd.Series(information)
informate

State         [ABIA, ADAMAWA, AKWA-IBOM, ANAMBRA, BAUCHI, BA...
Population    0     2833999
1     3168101
2     3920208
3   ...
Landmass      [5420, 36917, 6187, 4844, 64605, 10773, 34059,...
dtype: object